swagger: "2.0"
info:
  version: 1.0.0
  title: SwaggerLog
  description: A sample API that uses a petstore as an example to demonstrate features in the swagger-2.0 specification
  termsOfService: http://swagger.io/terms/
  contact:
    name: Swagger API Team
    email: foo@example.com
    url: http://madskristensen.net
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
host: private-07368-swaggerlog.apiary-mock.com
basePath: /
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /log:
    post:
      description: Logs a message
      operationId: log
      parameters:
        - name: pet
          in: body
          description: Pet to add to the store
          required: true
          schema:
            $ref: '#/definitions/LogRequest'
      responses:
        200:
          description: pet response
          schema:
            $ref: '#/definitions/LogResponse'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  LogResponse:
    allOf:
      - $ref: '#/definitions/LogRequest'
      - required:
        - id
        properties:
          id:
            type: integer
            format: int64
  LogRequest:
    required:
      - name
    properties:
      data:
        type: string
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string